Repository calvinkurn/android-media, changes with the owners that CODEOWNERS names for each.
All owners: @tokopedia/minion-kevin, @tokopedia/minion-bob, @tokopedia/minion-mark, @tokopedia/core-team, @tokopedia/minion-dave, @tokopedia/minion-stuart, @ricoharisin, @tokopedia/india-android-team, @tokopedia/minion-darth, @tokopedia/minion-solo, @tokopedia/minion-yoda, @lavekush-t, @aarsy17

Merge fix
  features/logistic/shipping_recommendation/src/main/java/com/tokopedia/shipping_recommendation/domain/usecase/GetCourierRecommendationUseCase.java
  features/logistic/shipping_recommendation/src/main/java/com/tokopedia/shipping_recommendation/shippingcourier/view/ShippingCourierBottomsheet.java
  features/logistic/shipping_recommendation/src/main/java/com/tokopedia/shipping_recommendation/shippingcourier/view/ShippingCourierBottomsheetListener.java
  features/logistic/shipping_recommendation/src/main/java/com/tokopedia/shipping_recommendation/shippingduration/view/ShippingDurationContract.java
  features/logistic/shipping_recommendation/src/main/java/com/tokopedia/shipping_recommendation/shippingduration/view/ShippingDurationPresenter.java
  features/transaction/checkout/src/main/java/com/tokopedia/checkout/view/feature/shipment/ShipmentFragment.java
  features/transaction/checkout/src/main/java/com/tokopedia/checkout/view/feature/shipment/ShipmentPresenter.java
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/variant/CheckoutVariantPresenter.kt
  features/transaction/express_checkout_common/src/main/java/com/tokopedia/expresscheckout/common/view/errorview/ErrorBottomsheets.kt
  tkpdpdp/src/main/java/com/tokopedia/tkpdpdp/fragment/ProductDetailFragment.java
Owners: @tokopedia/minion-bob, @tokopedia/minion-dave

Add a test for the word null in a string :white_check_mark:
  libraries/kotlin_extensions/src/test/java/com/tokopedia/kotlin/extensions/NullCheckerTest.kt
Owners: none

Add some documentation :memo:
  libraries/kotlin_extensions/src/main/java/com/tokopedia/kotlin/util/NullChecker.kt
Owners: none

Merge fix
  features/logistic/shipping_recommendation/src/main/java/com/tokopedia/shipping_recommendation/domain/usecase/GetCourierRecommendationUseCase.java
Owners: @tokopedia/minion-bob

Error bottomsheet action
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/variant/CheckoutVariantFragment.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/variant/subscriber/GetRatesSubscriber.kt
  features/transaction/express_checkout_common/src/main/java/com/tokopedia/expresscheckout/common/view/errorview/ErrorBottomsheets.kt
  features/transaction/express_checkout_common/src/main/res/layout/fragment_bottomsheet_error.xml
  tkpdpdp/src/main/java/com/tokopedia/tkpdpdp/fragment/ProductDetailFragment.java
Owners: @tokopedia/minion-bob, @tokopedia/minion-dave

Implement di
  features/logistic/shipping_recommendation/src/main/java/com/tokopedia/shipping_recommendation/shippingduration/view/ShippingDurationConverter.java
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/domain/mapper/atc/AtcDomainModelMapper.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/domain/mapper/checkout/CheckoutDomainModelMapper.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/domain/mapper/profile/ProfileDomainModelMapper.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/domain/usecase/DoAtcExpressUseCase.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/domain/usecase/DoCheckoutExpressUseCase.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/domain/usecase/GetProfileListUseCase.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/profile/CheckoutProfileBottomSheet.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/profile/CheckoutProfilePresenter.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/profile/adapter/CheckoutProfileAdapter.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/profile/di/CheckoutProfileComponent.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/profile/di/CheckoutProfileModule.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/profile/di/CheckoutProfileScope.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/profile/mapper/ViewModelMapper.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/profile/viewmodel/ProfileViewModel.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/variant/CheckoutVariantFragment.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/variant/CheckoutVariantPresenter.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/variant/di/CheckoutVariantComponent.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/variant/di/CheckoutVariantModule.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/variant/di/CheckoutVariantScope.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/variant/mapper/ViewModelMapper.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/variant/subscriber/DoAtcExpressSubscriber.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/variant/subscriber/DoCheckoutExpressSubscriber.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/variant/subscriber/DoCheckoutSubscriber.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/variant/subscriber/DoOneClickShipmentAtcSubscriber.kt
Owners: @tokopedia/minion-bob

Interface segregation
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/variant/CheckoutVariantFragment.kt
  features/transaction/express_checkout_common/src/main/java/com/tokopedia/expresscheckout/common/view/errorview/ErrorBottomsheetsActionListenerWithRetry.kt
  tkpdpdp/src/main/java/com/tokopedia/tkpdpdp/fragment/ProductDetailFragment.java
Owners: @tokopedia/minion-bob, @tokopedia/minion-dave

Error state
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/variant/CheckoutVariantFragment.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/variant/viewholder/QuantityViewHolder.kt
  features/transaction/express_checkout_common/src/main/java/com/tokopedia/expresscheckout/common/view/errorview/ErrorBottomsheets.kt
Owners: @tokopedia/minion-bob

Add qty changes debounce
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/variant/CheckoutVariantActionListener.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/variant/CheckoutVariantFragment.kt
  features/transaction/express_checkout/src/main/java/com/tokopedia/expresscheckout/view/variant/viewholder/QuantityViewHolder.kt
Owners: @tokopedia/minion-bob

CODEOWNERS:

/tkpdsession/       @tokopedia/minion-kevin
/tkpdloyalty/       @tokopedia/minion-bob
/tkpddigital/       @tokopedia/minion-mark
/tkpdcore/          @tokopedia/core-team
/tkpdinbox/         @tokopedia/minion-kevin
/tkpddiscovery/     @tokopedia/minion-dave
/tkpdtransaction/   @tokopedia/minion-bob
/feature/discovery/topadssdk/           @tokopedia/minion-dave
/feature/discovery/home/                @tokopedia/minion-dave
/feature/discovery/recentview/          @tokopedia/minion-dave
/feature/discovery/wishlist_common/     @tokopedia/minion-dave
/tkpdpdp/           @tokopedia/minion-dave
/tkpddesign/        @tokopedia/core-team
/sellerapp/         @tokopedia/minion-stuart
/tkpdseller/        @tokopedia/minion-stuart
/tkpdtokocash/      @tokopedia/minion-mark
/tkpdabstraction/   @tokopedia/core-team
/customerapp/       @tokopedia/core-team

/features/common/nps                               @tokopedia/core-team

/features/home/account-home/                       @tokopedia/core-team
/features/home/navigation/                         @tokopedia/core-team
/features/home/navigation-common/                  @tokopedia/core-team
/features/home/searchbar/                          @tokopedia/core-team

/features/fintech/mitra_toppers/                        @tokopedia/minion-stuart
/features/merchant/gold_merchant/                       @tokopedia/minion-stuart
/features/merchant/gold_merchant_common/                @tokopedia/minion-stuart
/features/merchant/gold_merchant_subscribe/             @tokopedia/minion-stuart
/features/merchant/product_draft_database/              @tokopedia/minion-stuart
/features/merchant/product_manage_item/                 @tokopedia/minion-stuart
/features/merchant/product_manage_list/                 @tokopedia/minion-stuart
/features/merchant/reputation/                          @tokopedia/minion-stuart
/features/merchant/reputation_common/                   @tokopedia/minion-stuart
/features/merchant/shop_common/                         @tokopedia/minion-stuart
/features/merchant/shop_open/                           @tokopedia/minion-stuart
/features/merchant/shop_page/                           @tokopedia/minion-stuart
/features/top_ads/top_ads_free_claim/                   @tokopedia/minion-stuart
/features/top_ads/top_ads_management/                   @tokopedia/minion-stuart
/features/top_ads/top_ads_management_common/            @tokopedia/minion-stuart
/features/top_ads/top_ads_management_sourcetagging/     @tokopedia/minion-stuart

/features/digital/flight/               @tokopedia/minion-mark
/features/digital/train/               @tokopedia/minion-mark
/features/digital/flight_no_op/         @tokopedia/minion-mark
/features/digital/digital_browse/         @tokopedia/minion-mark
/features/digital/digitalproduct        @tokopedia/minion-mark
/featires/digital/common_travel         @tokopedia/minion-mark
/features/fintech/tokocash              @tokopedia/minion-mark
/libraries/travel_calendar              @tokopedia/minion-mark

/features/payment/payment/                      @tokopedia/minion-bob
/features/payment/payment_setting/              @tokopedia/minion-bob
/features/payment/pms/                          @tokopedia/minion-bob
/features/transaction/checkout/                 @tokopedia/minion-bob
/features/transaction/express_checkout/         @tokopedia/minion-bob
/features/transaction/express_checkout_common/  @tokopedia/minion-bob
/features/transaction/transactionanalytics/     @tokopedia/minion-bob
/features/transaction/transactiondata/          @tokopedia/minion-bob
/features/logistic/cod/                         @tokopedia/minion-bob
/features/logistic/district_recommendation/     @tokopedia/minion-bob
/features/logistic/logisticdata/                @tokopedia/minion-bob
/features/logistic/logisticaddaddress/          @tokopedia/minion-bob
/features/logistic/logisticuploadawb/           @tokopedia/minion-bob
/features/logistic/shipping_recommendation/     @tokopedia/minion-bob
/features/logistic/tracking/                    @tokopedia/minion-bob

/features/user/chatbot/                         @tokopedia/minion-kevin
/features/user/chatbot_no_op/                   @tokopedia/minion-kevin
/features/user/chat_common/                     @tokopedia/minion-kevin
/features/user/topchat/                         @tokopedia/minion-kevin
/features/user/topchat_no_op/                   @tokopedia/minion-kevin
/features/user/groupchat/                       @tokopedia/minion-kevin
/features/user/profile/                         @tokopedia/minion-kevin
/features/user/vote/                            @tokopedia/minion-kevin
/features/user/otp/                             @tokopedia/minion-kevin
/features/user/settingbank/                     @tokopedia/minion-kevin
/features/user/changepassword/                  @tokopedia/minion-kevin
/features/user/logout/                          @tokopedia/minion-kevin
/features/user/loginregister/                   @tokopedia/minion-kevin
/features/user/sessioncommon/                   @tokopedia/minion-kevin
/features/user/loginphone/                      @tokopedia/minion-kevin
/features/user/bankdb/                          @tokopedia/minion-kevin
/features/user/notifcenter/                     @tokopedia/minion-kevin
/features/user/attachproduct/                   @tokopedia/minion-kevin
/features/user/talk/                            @tokopedia/minion-kevin
/features/user/changephonenumber                @tokopedia/minion-kevin
/features/user/phoneverification                @tokopedia/minion-kevin
/features/user/user_identification/             @tokopedia/minion-kevin
/features/user/user_identification_common/      @tokopedia/minion-kevin
/features/user/user_identification_no_op/       @tokopedia/minion-kevin

/features/content/affiliate/            @tokopedia/minion-kevin
/features/content/affiliate_common/     @tokopedia/minion-kevin
/features/content/explore/              @tokopedia/minion-kevin
/features/content/feed/                 @tokopedia/minion-kevin
/features/content/feed_component/       @tokopedia/minion-kevin
/features/content/interest_pick/        @tokopedia/minion-kevin
/features/content/kol/                  @tokopedia/minion-kevin
/features/content/kol_common/           @tokopedia/minion-kevin
/features/content/profile/              @tokopedia/minion-kevin

/features/payment/withdraw/             @tokopedia/minion-kevin

/libraries/applink/                     @tokopedia/core-team
/libraries/base_list_seller/            @tokopedia/minion-stuart
/libraries/bottom_sheet_builder/        @tokopedia/minion-stuart
/libraries/cache_api/                   @tokopedia/minion-stuart
/libraries/image_picker/                @tokopedia/minion-stuart
/libraries/camera_view/                 @tokopedia/minion-stuart
/libraries/williamchart/                @tokopedia/minion-stuart
/libraries/date_picker_range/           @tokopedia/minion-stuart
/libraries/imageuploader/               @tokopedia/minion-stuart
/libraries/use_case/                    @tokopedia/core-team
/libraries/react_native/                @tokopedia/core-team
/libraries/applink/                     @tokopedia/core-team
/libraries/push_notification/           @ricoharisin
/libraries/user_session/                @tokopedia/minion-kevin
/libraries/youtubeutils/                @tokopedia/minion-kevin

/features/user/updateinactivephone      @tokopedia/india-android-team
/libraries/common_network/              @ricoharisin

/features/digital/event                 @tokopedia/minion-darth
/features/operational/contact_us        @tokopedia/minion-darth
/features/digital/digital_deals         @tokopedia/minion-darth
/libraries/oms                          @tokopedia/minion-darth

/features/fintech/instant_loan          @tokopedia/minion-solo
/features/fintech/saldo_details         @tokopedia/minion-solo
/features/fintech/home_credit           @tokopedia/minion-solo
/features/promo/tokopoints              @tokopedia/minion-solo
/features/promo/tokopoints_notification @tokopedia/minion-solo

/features/im/challenges                 @tokopedia/minion-yoda
/features/im/referral                   @tokopedia/minion-yoda

/libraries/pagination                   @lavekush-t
/libraries/common_network/              @lavekush-t
/libraries/graphql/                     @lavekush-t
/kelontongapp                           @tokopedia/core-team

/libraries/graph_view/                  @aarsy17
