Repository calvinkurn/android-media, changes with the owners that CODEOWNERS names for each.
All owners: @tokopedia/minion-kevin, @tokopedia/minion-bob, @vishalgupta1987, @tokopedia/minion-mark, @tokopedia/core-team, @tokopedia/minion-dave, @mzennis, @tokopedia/minion-stuart, @tokopedia/minion_bob, @ricoharisin, @lavekush-t

CODEOWNERS:

/tkpdsession/       @tokopedia/minion-kevin
/tkpdloyalty/       @tokopedia/minion-bob
/tkpdride/          @vishalgupta1987
/tkpddigital/       @tokopedia/minion-mark
/tkpdcore/          @tokopedia/core-team
/tkpdinbox/         @tokopedia/minion-kevin
/tkpddiscovery/     @tokopedia/minion-dave
/tkpdtransaction/   @tokopedia/minion-bob
/tkpdtopadssdk/     @tokopedia/minion-dave
/tkpdpdp/           @tokopedia/minion-dave
/tkpddesign/        @mzennis
/sellerapp/         @tokopedia/minion-stuart
/tkpdseller/        @tokopedia/minion-stuart
/tkpdtokocash/      @tokopedia/minion-mark
/tkpdabstraction/   @tokopedia/core-team
/tkpdevents/        @vishalgupta1987
/tkpdhome/          @tokopedia/minion-dave
/customerapp/       @tokopedia/core-team

/features/fintech/mitra_toppers/                        @tokopedia/minion-stuart
/features/merchant/gold_merchant/                       @tokopedia/minion-stuart
/features/merchant/gold_merchant_common/                @tokopedia/minion-stuart
/features/merchant/product_edit/                        @tokopedia/minion-stuart
/features/merchant/reputation/                          @tokopedia/minion-stuart
/features/merchant/reputation_common/                   @tokopedia/minion-stuart
/features/merchant/shop_common/                         @tokopedia/minion-stuart
/features/merchant/shop_page/                           @tokopedia/minion-stuart
/features/top_ads/top_ads_management/                   @tokopedia/minion-stuart
/features/top_ads/top_ads_management_common/            @tokopedia/minion-stuart
/features/top_ads/top_ads_management_sourcetagging/     @tokopedia/minion-stuart

/features/digital/flight/               @tokopedia/minion-mark
/features/digital/flight_no_op/         @tokopedia/minion-mark

/features/payment/payment/                      @tokopedia/minion-bob
/features/transaction/checkout                  @tokopedia/minion_bob
/features/transaction/transactionanalytics      @tokopedia/minion_bob
/features/transaction/transactiondata           @tokopedia/minion_bob
/features/logistic/district_recommendation      @tokopedia/minion_bob
/features/logistic/logisticdata                 @tokopedia/minion_bob
/features/logistic/logisticuploadawb            @tokopedia/minion_bob
/features/logistic/tracking                     @tokopedia/minion_bob

/features/user/groupchat/               @tokopedia/minion-kevin
/features/user/profile/                 @tokopedia/minion-kevin
/features/user/vote/                    @tokopedia/minion-kevin
/features/user/otp/                     @tokopedia/minion-kevin
/features/content/feed/                 @tokopedia/minion-kevin
/features/content/kol/                  @tokopedia/minion-kevin

/libraries/applink/                     @tokopedia/core-team
/libraries/bottom_sheet_builder/        @tokopedia/minion-stuart
/libraries/cache_api/                   @tokopedia/minion-stuart
/libraries/image_picker/                @tokopedia/minion-stuart
/libraries/williamchart/                @tokopedia/minion-stuart
/libraries/use_case/                    @tokopedia/core-team
/libraries/react_native/                @tokopedia/core-team
/libraries/applink/                     @tokopedia/core-team
/libraries/push_notification/           @ricoharisin
/libraries/user_session/                @tokopedia/minion-kevin
/libraries/youtubeutils/                @tokopedia/minion-kevin
/libraries/common_network/              @lavekush-t
/libraries/graphql/                     @lavekush-t
/features/promo/tokopoints              @lavekush-t
/libraries/common_network/              @ricoharisin

Fix wrong label
  tkpdsession/src/main/java/com/tokopedia/analytics/RegisterAnalytics.java
Owners: @tokopedia/minion-kevin

empty state for follow list and tracking; remove selected etalase view model from limited list
  features/merchant/shop_page/src/main/java/com/tokopedia/shop/common/util/TextApiUtils.java
  features/merchant/shop_page/src/main/java/com/tokopedia/shop/favourite/view/fragment/ShopFavouriteListFragment.java
  features/merchant/shop_page/src/main/java/com/tokopedia/shop/page/domain/interactor/ToggleFavouriteShopAndDeleteCacheUseCase.java
  features/merchant/shop_page/src/main/java/com/tokopedia/shop/page/view/activity/ShopPageActivity.kt
Owners: @tokopedia/minion-stuart

Init subscriber :rada:
  features/content/kol/src/main/java/com/tokopedia/kol/feature/post/view/fragment/KolPostDetailFragment.java
  features/content/kol/src/main/java/com/tokopedia/kol/feature/post/view/listener/KolPostDetailContract.java
  features/content/kol/src/main/java/com/tokopedia/kol/feature/post/view/presenter/KolPostDetailPresenter.java
  features/content/kol/src/main/java/com/tokopedia/kol/feature/post/view/subscriber/GetKolPostDetailSubscriber.java
Owners: @tokopedia/minion-kevin

fix sellerrouterapplication. fix multidex missing at sellerapp. comment cannot find asset at tkpdride. add shop-common and fetch using new shop-common.
  customerapp/src/androidTest/java/com/tokopedia/navigation/presentation/activity/MainParentActivityTest.java
  features/discovery/home/build.gradle
  features/discovery/home/src/main/java/com/tokopedia/home/beranda/di/BerandaComponent.java
  features/discovery/home/src/main/java/com/tokopedia/home/beranda/di/ShopQualifier.java
  features/discovery/home/src/main/java/com/tokopedia/home/beranda/di/ShopWSQualifier.java
  features/discovery/home/src/main/java/com/tokopedia/home/beranda/di/module/HomeModule.java
  features/discovery/home/src/main/java/com/tokopedia/home/beranda/di/module/ShopModule.java
  features/discovery/home/src/main/java/com/tokopedia/home/beranda/presentation/presenter/HomePresenter.java
  features/discovery/home/src/main/java/com/tokopedia/home/beranda/presentation/view/HomeContract.java
  features/discovery/home/src/main/java/com/tokopedia/home/beranda/presentation/view/fragment/HomeFragment.java
  sellerapp/src/main/java/com/tokopedia/sellerapp/SellerRouterApplication.java
  tkpdride/src/main/java/com/tokopedia/ride/bookingride/view/fragment/ConfirmBookingRideFragment.java
Owners: @tokopedia/core-team, @tokopedia/minion-stuart, @vishalgupta1987

harga coret UI
  posapp/src/main/java/com/tokopedia/posapp/product/productdetail/view/widget/HeaderInfoView.java
Owners: none

update bundle new checkout endpoint harga coret
  posapp/src/main/assets/index.android.bundle
  posapp/src/main/assets/index.android.bundle.meta
Owners: none
