Repository calvinkurn/android-media, changes with the owners that CODEOWNERS names for each.
All owners: @tokopedia/minion-kevin, @tokopedia/minion-mark, @tokopedia/minion-bob, @vishalgupta1987, @tokopedia/core-team, @tokopedia/minion-dave, @mzennis, @tokopedia/minion-stuart

delete BookingQualifier and use FlightQualifier
  tkpdflight/src/main/java/com/tokopedia/flight/common/di/module/FlightModule.java
  tkpdflight/src/main/java/com/tokopedia/flight/review/data/FlightBookingDataSourceCloud.java
Owners: @tokopedia/minion-mark

add gson in FlightCancellationCloudDataSource
  tkpdflight/src/main/java/com/tokopedia/flight/cancellation/data/cloud/FlightCancellationCloudDataSource.java
Owners: @tokopedia/minion-mark

stop total as transit
  tkpdflight/src/main/java/com/tokopedia/flight/search/data/cloud/model/response/Attributes.java
  tkpdflight/src/main/java/com/tokopedia/flight/search/data/cloud/model/response/Route.java
  tkpdflight/src/main/java/com/tokopedia/flight/search/data/db/model/FlightSearchSingleRouteDB.java
Owners: @tokopedia/minion-mark

Adding convert regex dynamic path when populate cache api whitelist
  tkpdcacheapi/src/main/java/com/tokopedia/cacheapi/data/source/db/CacheApiDatabaseSource.java
  tkpdcacheapi/src/main/java/com/tokopedia/cacheapi/domain/model/CacheApiWhiteListDomain.java
  tkpdcacheapi/src/main/java/com/tokopedia/cacheapi/util/CacheApiUtils.java
Owners: @tokopedia/core-team

remove unused dimen
  features/promo/gamification/src/main/res/values-sw320dp/dimens.xml
  features/promo/gamification/src/main/res/values-sw480dp/dimens.xml
  features/promo/gamification/src/main/res/values/dimens.xml
Owners: none

CODEOWNERS:

/tkpdsession/       @tokopedia/minion-kevin
/tkpdflight/        @tokopedia/minion-mark
/tkpdloyalty/       @tokopedia/minion-bob
/tkpdride/          @vishalgupta1987
/tkpdfeed/          @tokopedia/minion-kevin
/tkpddigital/       @tokopedia/minion-mark
/tkpdcore/          @tokopedia/core-team
/tkpdinbox/         @tokopedia/minion-kevin
/tkpddiscovery/     @tokopedia/minion-dave
/tkpdtransaction/   @tokopedia/minion-bob
/tkpdtopadssdk/     @tokopedia/minion-dave
/tkpdpdp/           @tokopedia/minion-dave
/tkpddesign/        @mzennis
/sellerapp/         @tokopedia/minion-stuart
/tkpdseller/        @tokopedia/minion-stuart
/tkpdtopads/        @tokopedia/minion-stuart
/tkpdtokocash/      @tokopedia/minion-mark
/tkpdusecase/       @tokopedia/core-team
/tkpdabstraction/   @tokopedia/core-team
/tkpdcacheapi/      @tokopedia/core-team
/tkpdevents/        @vishalgupta1987
/tkpdhome/          @tokopedia/minion-dave
/customerapp/       @tokopedia/core-team

/features/fintech/mitra_toppers/        @tokopedia/minion-stuart
/features/digital/flight_no_op/         @tokopedia/minion-mark
/features/merchant/gold_merchant/       @tokopedia/minion-stuart
/features/merchant/reputation/          @tokopedia/minion-stuart
/features/payment/payment/              @tokopedia/minion-bob
/features/digital/flight_no_op/         @tokopedia/minion-mark
/features/user/groupchat/               @tokopedia/minion-kevin

/libraries/react_native/                @tokopedia/core-team
