Repository calvinkurn/android-media, changes with the owners that CODEOWNERS names for each.
All owners: @tokopedia/minion-kevin, @tokopedia/minion-bob, @tokopedia/minion-mark, @tokopedia/core-team, @tokopedia/minion-dave, @mzennis, @tokopedia/minion-stuart, @nabillasab, @ricoharisin, @lavekush-t, @tokopedia/india-android-team, @tokopedia/minion-solo, @naveengoyal87, @ashwanitp

add detach attach view
  features/logistic/cod/src/main/java/com/tokopedia/cod/CodContract.kt
  features/logistic/cod/src/main/java/com/tokopedia/cod/CodFragment.kt
  features/logistic/cod/src/main/java/com/tokopedia/cod/CodPresenter.kt
Owners: none

reduce space for notifier view holder
  features/transaction/checkout/src/main/java/com/tokopedia/checkout/view/feature/cartlist/CartItemDecoration.java
Owners: @tokopedia/minion-bob

refactor cod chcekout flow
  features/transaction/checkout/src/main/java/com/tokopedia/checkout/view/feature/shipment/ShipmentFragment.java
  features/transaction/checkout/src/main/java/com/tokopedia/checkout/view/feature/shipment/ShipmentPresenter.java
  features/transaction/checkout/src/main/java/com/tokopedia/checkout/view/feature/shipment/adapter/ShipmentAdapter.java
Owners: @tokopedia/minion-bob

Added tokopoints notfication library | Added impl in tokopoints module
  buildconfig/appcompile/compile-customerapp.gradle
  buildconfig/dependencies/dependency-features.gradle
  features/promo/tokopoints/build.gradle
  features/promo/tokopoints/src/main/java/com/tokopedia/tokopoints/view/contract/HomepageContract.java
  features/promo/tokopoints/src/main/java/com/tokopedia/tokopoints/view/fragment/HomepageFragment.java
  features/promo/tokopoints/src/main/java/com/tokopedia/tokopoints/view/model/TokoPointEntity.java
  features/promo/tokopoints/src/main/java/com/tokopedia/tokopoints/view/presenter/HomepagePresenter.java
  features/promo/tokopoints_notification/.gitignore
  features/promo/tokopoints_notification/build.gradle
  features/promo/tokopoints_notification/proguard-rules.pro
  features/promo/tokopoints_notification/src/main/AndroidManifest.xml
  features/promo/tokopoints_notification/src/main/java/com/tokopedia/tokopoints/notification/Constant.java
  features/promo/tokopoints_notification/src/main/java/com/tokopedia/tokopoints/notification/TokoPointsNotificationManager.java
  features/promo/tokopoints_notification/src/main/java/com/tokopedia/tokopoints/notification/model/CouponValueEntity.java
  features/promo/tokopoints_notification/src/main/java/com/tokopedia/tokopoints/notification/model/PopupNotification.java
  features/promo/tokopoints_notification/src/main/java/com/tokopedia/tokopoints/notification/model/TokoPointDetailEntity.java
  features/promo/tokopoints_notification/src/main/java/com/tokopedia/tokopoints/notification/model/TokoPointEntity.java
  features/promo/tokopoints_notification/src/main/java/com/tokopedia/tokopoints/notification/view/TokoPointsPopupNotificationBottomSheet.java
  features/promo/tokopoints_notification/src/main/res/drawable/bg_tp_remaining_exchange.xml
  features/promo/tokopoints_notification/src/main/res/drawable/ic_tp_flash.xml
  features/promo/tokopoints_notification/src/main/res/layout/tp_layout_popup_notification.xml
  features/promo/tokopoints_notification/src/main/res/raw/tp_gql_popup_notification
Owners: @tokopedia/india-android-team

Remove unused imports
  features/promo/tokopoints/src/main/java/com/tokopedia/tokopoints/view/fragment/HomepageFragment.java
Owners: @tokopedia/india-android-team

Added notfication at main homepage
  features/discovery/home/build.gradle
  features/discovery/home/src/main/java/com/tokopedia/home/beranda/presentation/view/fragment/HomeFragment.java
Owners: none

CODEOWNERS:

/tkpdsession/       @tokopedia/minion-kevin
/tkpdloyalty/       @tokopedia/minion-bob
/tkpddigital/       @tokopedia/minion-mark
/tkpdcore/          @tokopedia/core-team
/tkpdinbox/         @tokopedia/minion-kevin
/tkpddiscovery/     @tokopedia/minion-dave
/tkpdtransaction/   @tokopedia/minion-bob
/feature/discovery/topadssdk/           @tokopedia/minion-dave
/feature/discovery/home/                @tokopedia/minion-dave
/feature/discovery/recentview/          @tokopedia/minion-dave
/feature/discovery/wishlist_common/     @tokopedia/minion-dave
/tkpdpdp/           @tokopedia/minion-dave
/tkpddesign/        @mzennis
/sellerapp/         @tokopedia/minion-stuart
/tkpdseller/        @tokopedia/minion-stuart
/tkpdtokocash/      @tokopedia/minion-mark
/tkpdabstraction/   @tokopedia/core-team
/customerapp/       @tokopedia/core-team

/features/common/nps                               @tokopedia/core-team

/features/home/account-home/                       @tokopedia/core-team
/features/home/navigation/                         @tokopedia/core-team
/features/home/navigation-common/                  @tokopedia/core-team
/features/home/searchbar/                          @tokopedia/core-team

/features/fintech/mitra_toppers/                        @tokopedia/minion-stuart
/features/merchant/gold_merchant/                       @tokopedia/minion-stuart
/features/merchant/gold_merchant_common/                @tokopedia/minion-stuart
/features/merchant/gold_merchant_subscribe/             @tokopedia/minion-stuart
/features/merchant/product_draft_database/              @tokopedia/minion-stuart
/features/merchant/product_manage_item/                 @tokopedia/minion-stuart
/features/merchant/product_manage_list/                 @tokopedia/minion-stuart
/features/merchant/reputation/                          @tokopedia/minion-stuart
/features/merchant/reputation_common/                   @tokopedia/minion-stuart
/features/merchant/shop_common/                         @tokopedia/minion-stuart
/features/merchant/shop_open/                           @tokopedia/minion-stuart
/features/merchant/shop_page/                           @tokopedia/minion-stuart
/features/top_ads/top_ads_free_claim/                   @tokopedia/minion-stuart
/features/top_ads/top_ads_management/                   @tokopedia/minion-stuart
/features/top_ads/top_ads_management_common/            @tokopedia/minion-stuart
/features/top_ads/top_ads_management_sourcetagging/     @tokopedia/minion-stuart

/features/digital/flight/               @tokopedia/minion-mark
/features/digital/train/               @tokopedia/minion-mark
/features/digital/flight_no_op/         @tokopedia/minion-mark
/features/digital/digital_browse/         @tokopedia/minion-mark
/features/digital/digitalproduct        @tokopedia/minion-mark
/featires/digital/common_travel         @tokopedia/minion-mark
/features/fintech/tokocash              @nabillasab
/libraries/travel_calendar              @nabillasab

/features/payment/payment/                      @tokopedia/minion-bob
/features/payment/payment_setting/              @tokopedia/minion-bob
/features/payment/pms/                          @tokopedia/minion-bob
/features/transaction/checkout/                 @tokopedia/minion-bob
/features/transaction/transactionanalytics/     @tokopedia/minion-bob
/features/transaction/transactiondata/          @tokopedia/minion-bob
/features/logistic/district_recommendation/     @tokopedia/minion-bob
/features/logistic/logisticdata/                @tokopedia/minion-bob
/features/logistic/logisticaddaddress/          @tokopedia/minion-bob
/features/logistic/logisticuploadawb/           @tokopedia/minion-bob
/features/logistic/tracking/                    @tokopedia/minion-bob

/features/user/topchat/                         @tokopedia/minion-kevin
/features/user/groupchat/                       @tokopedia/minion-kevin
/features/user/profile/                         @tokopedia/minion-kevin
/features/user/vote/                            @tokopedia/minion-kevin
/features/user/otp/                             @tokopedia/minion-kevin
/features/user/settingbank/                     @tokopedia/minion-kevin
/features/user/changepassword/                  @tokopedia/minion-kevin
/features/user/logout/                          @tokopedia/minion-kevin
/features/user/loginregister/                   @tokopedia/minion-kevin
/features/user/sessioncommon/                   @tokopedia/minion-kevin
/features/user/loginphone/                      @tokopedia/minion-kevin
/features/user/bankdb/                          @tokopedia/minion-kevin
/features/user/notifcenter/                     @tokopedia/minion-kevin
/features/user/attachproduct/                   @tokopedia/minion-kevin
/features/user/talk/                            @tokopedia/minion-kevin
/features/user/changephonenumber                @tokopedia/minion-kevin
/features/user/phoneverification                @tokopedia/minion-kevin
/features/user/user_identification/             @tokopedia/minion-kevin
/features/user/user_identification_common/      @tokopedia/minion-kevin
/features/user/user_identification_no_op/       @tokopedia/minion-kevin

/features/content/affiliate/            @tokopedia/minion-kevin
/features/content/affiliate_common/     @tokopedia/minion-kevin
/features/content/explore/              @tokopedia/minion-kevin
/features/content/feed/                 @tokopedia/minion-kevin
/features/content/interest_pick/        @tokopedia/minion-kevin
/features/content/kol/                  @tokopedia/minion-kevin
/features/content/kol_common/           @tokopedia/minion-kevin
/features/content/profile/              @tokopedia/minion-kevin

/features/payment/withdraw/             @tokopedia/minion-kevin

/libraries/applink/                     @tokopedia/core-team
/libraries/base_list_seller/            @tokopedia/minion-stuart
/libraries/bottom_sheet_builder/        @tokopedia/minion-stuart
/libraries/cache_api/                   @tokopedia/minion-stuart
/libraries/image_picker/                @tokopedia/minion-stuart
/libraries/camera_view/                 @tokopedia/minion-stuart
/libraries/williamchart/                @tokopedia/minion-stuart
/libraries/date_picker_range/           @tokopedia/minion-stuart
/libraries/imageuploader/               @tokopedia/minion-stuart
/libraries/use_case/                    @tokopedia/core-team
/libraries/react_native/                @tokopedia/core-team
/libraries/applink/                     @tokopedia/core-team
/libraries/push_notification/           @ricoharisin
/libraries/user_session/                @tokopedia/minion-kevin
/libraries/youtubeutils/                @tokopedia/minion-kevin
/libraries/common_network/              @lavekush-t
/libraries/graphql/                     @lavekush-t
/features/promo/tokopoints              @tokopedia/india-android-team
/libraries/common_network/              @ricoharisin
/features/digital/event                 @tokopedia/india-android-team
/features/operational/contact_us        @tokopedia/india-android-team
/features/digital/digital_deals         @tokopedia/india-android-team
/features/fintech/instant_loan          @tokopedia/minion-solo
/features/user/updateinactivephone      @tokopedia/india-android-team
/features/fintech/saldo_details          @tokopedia/india-android-team
/libraries/oms                          @naveengoyal87
/features/im/challenges                 @ashwanitp
/libraries/pagination                   @lavekush-t
